/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body{
background-color: #ebebeb;
    color: black;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
h2,h1{
  margin:1px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
input{
background-color: white;
    color: black;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width:100vw;
}

.header {
  background-color: #fff;
  padding: 0.45rem;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

/* Fix here 👇 */
.body-container {
  display: flex;
  flex: 1; /* Fill remaining height */
  height: 100%;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: #f9f9f9;
  border-right: 1px solid #ddd;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
}

/* Content */
.content-area {
     flex: 1;
    padding: .75rem;
    overflow-y: auto;
    background-color: #fff;
    margin: .75rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0000001a;
}
.bd_lead{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addbtn{
  background-color: #2667FF;
}
.addbtn:hover{
  background-color: #2667FF;
  color: white;
}

